body {
    font-family: sans-serif, Arial;
}

h1, h2, h3 {
    color: darkcyan;
    text-decoration: underline;
}

table {
    border: 2px solid brown;
    border-spacing: 5px;
}

th {
    background-color: khaki;
    border: 1px solid black;
}

td.rot {
    color: red;
}